@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Consignment Shop Demo</h1>
    <p>
        Welcome to the ASP.NET MVC Consignment shop demo! To prevent abuse of this demo you will be required to register in order access it.
    </p>
</div>

<div>
    <p>
        Please select an option:
    </p>
    <ul>
        <li>
            Create or modify a <a asp-controller="Stores" asp-action="Index">store</a>
        </li>
    </ul>
</div>
