@using ConsignmentShopLibrary.Models
@using ConsignmentShopMVC.ViewModels
@model PosVm

@{ 
    ViewData["Title"] = "POS Screen";
}

<div class="row">
    <div class="col" style="color: blue;">
        <h1 class="text-center">Consignment Shop Demo</h1>
        <h2>@Model.Store.Name</h2>
    </div>
</div>

<div class="row  mt-2">
    <div class="col-5">
        <label class="form-label">Store Items</label>
        <select id="selForSale" asp-items="Model.Items" class="form-select" multiple size="10"></select>
    </div>
    <div class="col-2 d-flex flex-column justify-content-center">
        <button id="btnAdd" class="btn btn-primary mt-2 mb-2">Add To Cart --> </button>
        <button id="btnRemove" class="btn btn-primary"><-- Remove Item</button>
    </div>
    <div class="col-5">
        Total
        <label class="form-label">Shopping Cart</label>
        <select id="selCart" class="form-select" multiple size="10"></select>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <button class="btn btn-info">Purchase</button>
    </div>
</div>

@section Scripts
{
<script>
    $(() => {
        $('#btnAdd').click(() => {
            $('#selForSale option:selected')
                .prop('selected', false)
                .remove()
                .appendTo('#selCart');
        });

        $('#btnRemove').click(() => {
            $('#selCart option:selected')
                .prop('selected', false)
                .remove()
                .appendTo('#selForSale');
        });
    });
</script>
}